<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163671621768-0s1hfsik6gm1gr5j3b0di8p0801gjh36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163671621768-0s1hfsik6gm1gr5j3b0di8p0801gjh36</string>
	<key>API_KEY</key>
	<string>AIzaSyC6_TQcGKAEjcAXZyuCQPzVogZNw3ccUpA</string>
	<key>GCM_SENDER_ID</key>
	<string>163671621768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.platePal.ios</string>
	<key>PROJECT_ID</key>
	<string>platepal-manz</string>
	<key>STORAGE_BUCKET</key>
	<string>platepal-manz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163671621768:ios:e06e9f7c35dee806825f3d</string>
	<key>DATABASE_URL</key>
	<string>https://platepal-manz-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>